* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: grid;
  background-color: #333333;
  grid-template-rows: 7vh 93vh;
}

.header {
  background-color: #1ca7e3;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-section > button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.main-content {
  color: white;
  display: grid;
  grid-template-rows: 5vh 88vh;
}

.nav-section {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-section > button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.user-input,
.user-output {
  background-color: gray !important;
  height: 88vh;
}

.user-input > div {
  width: 90%;
  margin: 20px auto;
}

.user-output {
  height: 93vh;
}

.page {
  background-color: white;
  color: black;
  font-size: 0.8rem;
  width: 90%;
  margin: 15px auto;
  height: 85vh;
  padding: 5px;
}

.user-input > div > div > input,
.user-input > div > div > div > input {
  padding: 5px 0;
  font-size: 1rem;
}

.user-input > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 80px;
}

.user-input > div > div,
.user-input > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-input {
  overflow-y: scroll;
}

.user-input > div > div > button {
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: #333333;
  color: white;
  font-size: 1rem;
  transition: all 200ms;
}

.user-input > div > button:hover {
  opacity: 0.8;
}

.preview,
.edit {
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #1ca7e3;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  transition: all 200ms;
}

.preview:hover,
.edit:hover {
  transform: scale(1.1);
}

.input-header {
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.input-header > button {
  border: none;
  background: none;
  cursor: pointer;
}

.delete-img {
  width: 30px;
}

.delete-img:hover {
  background-color: red;
}

.create-more > button {
  transition: all 200ms;
}

.create-more > button:hover {
  opacity: 0.8;
}

.general-output {
  justify-content: center;
  text-align: center;
}

.education-output {
  margin-bottom: 15px !important;
}

.education-output,
.experience-output {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.education-output > div,
.experience-output > div {
  display: grid;
  grid-template-columns: 1fr 80px 80px;
}

.education-output > div > p:first-child,
.experience-output > div > p:first-child {
  font-weight: bold;
}

.education-output > div > p:nth-child(2),
.experience-output > div > p:nth-child(2) {
  grid-column: 1 / 2;
}

.education-output > div > p:nth-child(3),
.experience-output > div > p:nth-child(3) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: right;
}

.education-output > div > p:last-child,
.experience-output > div > p:last-child {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: right;
}

@media (min-width: 350px) {
  .user-output > div > div {
    width: 90%;
    font-size: 0.9rem;
    margin: auto;
  }
}

@media (min-width: 700px) {
  .user-output > div {
    max-width: 650px;
    font-size: 1rem;
  }

  .user-output > div > div {
    width: 85%;
  }
}

@media (min-width: 1000px) {
  .main-content {
    grid-template-columns: 20vw 80vw;
  }

  .nav-section {
    grid-template-rows: repeat(3, 125px);
  }

  .nav-section > button {
    grid-column: 1 / 4;
  }

  .user-input {
    height: 93vh;
  }

  .user-output {
    grid-column: 1 / 3;
  }

  .preview,
  .edit {
    bottom: 40px;
    right: 40px;
    padding: 15px;
    font-size: 1rem;
  }
}
